
      <%- include('partials/header') %>
      <div class="app flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card mx-4">
                        <div class="card-block p-4">
                            <form action="" class="form form--listing" method="post">
                            <h1>Register</h1>
                            <p class="text-muted">Create your account</p>
                            <% if(locals.error) { %>
                            <div class="alert alert-danger">
                            <%= error %>
                            </div>
                            <% } %>
                            <% if(locals.success) { %>
                            <div class="alert alert-success">
                                <%= success %>
                            </div>
                            <% } %>
                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="icon-user"></i>
                                </span>
                                <input name="firstName" id="firstName" value="<%= locals.firstName || '' %>" class="form-control usn-validation form-element" placeholder="First Name">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="icon-user"></i>
                                </span>
                                <input name="lastName" id="lastName" value="<%= locals.lastName || '' %>" class="form-control usn-validation form-element" placeholder="Last Name">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-addon">@</span>
                                <input type="text" name="username" id="username" value="<%= locals.username || '' %>" class="form-control usn-validation form-element" placeholder="Email">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="icon-lock"></i>
                                </span>
                                <input type="password" name="password" id="password" class="form-control usn-validation form-element" placeholder="Password">
                            </div>
                            <div class="input-group mb-4">
                                <span class="input-group-addon"><i class="icon-lock"></i>
                                </span>
                                <input type="password" name="repassword" id="repassword" class="form-control usn-validation form-element" placeholder="Retype Password">
                            </div>
                            <button type="submit" class="btn btn-block btn-success">Create Account</button>
                            </form>
                        </div>
                        <div class="card-footer p-4">
                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-block btn-facebook" type="button">
                                        <span>facebook</span>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-block btn-twitter" type="button">
                                        <span>twitter</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
  <%- include('partials/footer') %>